# dotenv environment-specific file
# copy this file to new filename .env
# and use command "rake secret" to get new secret key

### config/secrets.yml

SECRET_KEY_BASE=

### config/database.yml

# GWSECURITY_DATABASE_URL=
GWSECURITY_DATABASE_USERNAME=GWSecurity
GWSECURITY_DATABASE_PASSWORD='!@GWSecurity'

### config/initializers/devise.rb

DEVISE_SECRET_KEY=
MAILER_SENDER=please-change-me-at-config-initializers-devise@example.com

### Capistrano 3

CAP3_DEPLOY_REPO_URL='https://github.com/chucobo124/GWSecurity.git'
CAP3_DEPLOY_PRODUCTION_SERVER=localhost
CAP3_DEPLOY_USER=deployer
CAP3_DEPLOY_TO_PATH=/var/www

## 預設會套用 server 的主機名稱（可用 hostname -f 查詢），如果有專用網址才需取消註解（拿掉開頭的＃）後再做設定
#CAP3_DEPLOY_NGINX_SERVER_NAME_PRODUCTION=
