# dotenv environment-specific file
# copy this file to new filename .env
# and use command "rake secret" to get new secret key

### config/secrets.yml

SECRET_KEY_BASE=

### config/database.yml

# GWSECURITY_DATABASE_URL=
GWSECURITY_DATABASE_USERNAME=GWSecurity
GWSECURITY_DATABASE_PASSWORD=

### config/initializers/devise.rb

DEVISE_SECRET_KEY=
MAILER_SENDER=please-change-me-at-config-initializers-devise@example.com
